<a href="https://colab.research.google.com/github/juencabe/Proyecto1/blob/main/Nuevo_ETL1_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INGENIERIA DE DATOS

PROCESO ETL

In [ ]:
# Importamos las librerias necesarias para realizar el proceso ETL
import pandas as pd

In [ ]:
# Importamos libreria para trabajar en Google Colaboratory
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
# Cargamos los archivos con la información correspondiente a las plataformas de streaming
dfam=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/amazon_prime_titles.csv")
dfdi=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/disney_plus_titles.csv")
dfhu=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/hulu_titles.csv")
dfne=pd.read_csv("/content/drive/MyDrive/Proyecto_Lab1/netflix_titles.csv")

Requerimiento 1: Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [ ]:
# Se realiza la codificación correspondiente
dfam.insert(loc=0, column="id", value="a" + dfam["show_id"])
dfdi.insert(loc=0, column="id", value="d" + dfdi["show_id"])
dfhu.insert(loc=0, column="id", value="h" + dfhu["show_id"])
dfne.insert(loc=0, column="id", value="n" + dfne["show_id"])

In [ ]:
# Se verifica la actualización de la información
dfne.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,ns4,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,ns5,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
# Con la actualización realizada se integran todos los archivos con la información de las plataformas
Total_df = pd.concat([dfam,dfdi,dfhu,dfne], axis=0)
Total_df.shape

(22998, 13)

Requerimiento 2: Los valores nulos del campo rating se deben reemplazar por el string “ G” (corresponde al rating de madurez: “general para todos los públicos”

In [ ]:
#Revisamos los valores nulos del campo rating
Total_df["rating"].isnull().sum()

864

In [ ]:
Total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

In [ ]:
#Realizamos el reemplazo correspondiente de los valores nulos por el string G
Total_df["rating"].fillna("G", inplace=True)

In [ ]:
# Se verifica la actualización de la información
Total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

Reqquerimiento 3: De haber fechas, debe tener el formato AAAA-mm-dd

In [ ]:
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [ ]:
# Damos el formato correspondiente al campo date_added
Total_df["date_added"] = pd.to_datetime(Total_df["date_added"])

In [ ]:
#Se verifica la actualización de la información
Total_df.head()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

Requerimiento 4: Los campos de texto deben estar en minúsculas , sin excepciones

In [ ]:
Total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  datetime64[ns]
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
dtypes: datetime64[ns](1), int64(1), object(11)
memory usage: 2.5+ MB

In [ ]:
#Convertimos a minúscula los textos de los campos
Total_df["type"] = Total_df["type"].str.lower()
Total_df["title"] = Total_df["title"].str.lower()
Total_df["director"] = Total_df["director"].str.lower()
Total_df["cast"] = Total_df["cast"].str.lower()
Total_df["country"] = Total_df["country"].str.lower()
Total_df["rating"] = Total_df["rating"].str.lower()
Total_df["duration"] = Total_df["duration"].str.lower()
Total_df["listed_in"] =Total_df["listed_in"].str.lower()
Total_df["description"] = Total_df["description"].str.lower()

In [ ]:
Total_df.tail()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

Requerimiento 5: El campo duracion debe convertirse en dos campos: duration_int y duration_type. El primero será un entero y el segundo una cadena indicando la unidad de medición de duración: min (minutos) o temporada (temporadas)

In [ ]:
# Se reliza la separación en 2 campos
splitcolumns = Total_df["duration"].str.split(" ", n=1, expand=True)

In [ ]:
# Se inserta una columna con la cantidad
Total_df["duration_int"] = splitcolumns[0]

In [ ]:
# Se inserta una columna con la unidad de medición
Total_df["duration_type"] = splitcolumns[1]

In [ ]:
# Se reemplaza "seasons" por "season" en la columna "duration_type"
Total_df["duration_type"] = Total_df["duration_type"].str.replace("seasons", "season")

In [ ]:
# Se cambia el formato "duration_int" a integer
Total_df["duration_int"] = Total_df["duration_int"].astype("Int64")

In [ ]:
# Se verifica la actualización de la información
Total_df.tail()

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,season
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min

In [ ]:
# Se borran las columnas que ya no agreguen valor
Total_df= Total_df.drop(columns=['show_id','duration'])
Total_df.head()

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [ ]:
#Se revisa el archivo completo
Total_df.shape

(22998, 13)

In [ ]:
# Se realiza copia del archivo completo para su posterior utilización
Total_df.to_csv('/content/drive/MyDrive/Proyecto_Lab1/TotalStream.csv',index=False)